<!-- primary personal box/div -->
<div class="personal-container">
  <!-- main title -->
  <div class="personal-desc">
    <h1 class="title">Who is Benjamin Gregory?</h1>
  </div>
  <!-- personal image section -->
  <div class="img-container">
    <div class="img-box">
      <img src="/portfolio_portrait.jpg" class="img-contents" alt="Self Portrait">
    </div>
  </div>
  <!-- personal description section -->
  <div class="personal-desc">
    <!-- main body -->
    <div class="body">Focused and driven computer science major at Lafayette College, with a strong
      interest and enthusiasm for discrete mathematics and combinatorics, and ardor for an intellectual
      understanding of the field where the most difficult projects quickly become intellectual challenges.
      Pursuing opportunities, where such interests can become meaningful pursuits.</div>
    <!-- note element -->
    <div class="note">
      <h6>Experience</h6>
      <p>Unix, Windows, MacOS</p>
      <p> Java, C/C++, SQLite3, MySQL, and NodeJS</p>
    </div>
    <!-- resume download -->
    <div class="resume-container">
      <div class="resume-button">
        <a href="resume" class="resume-link" target=”_blank”>Download Resume</a>
      </div>
    </div>
  </div>
</div>
</div>