<div class="container">
    <div class="row">
        <div class="col">
            <div class="card rounded-0 mb-3 card-color text-center m-5">
                <div class="card-body">
                    <h1 class="card-title">Error 404 - Page not Found</h1>
                    <p class="card-text">Oops! It appears there's nothing here...</p>
                    <img src="\mulyadi-ZnLprInKM7s-unsplash.jpg" class="card-img-bottom" alt="Sad Robot">
                </div>
            </div>
        </div>
    </div>
</div>