<div class="container">
  <div class="card mb-3 card-color rounded-0">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/portfolio_portrait.jpg" class="img-fluid" alt="Self Portrait">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h1 class="card-title text-center">Who is Benjamin Gregory?</h1>
          <h5 class="card-text text-center">I am an undergraduate student at Lafayette College with an interest in discrete mathematics, combinatorics, and intellectually-challenging
            computing projects. I'm pursuing a Bachelor of Science in Computer Science with a Minor in Data Science. I'm looking for opportunities where these interests can translate into meaningful professional experiences.</h5>
          <p class="card-text text-center personal_padding">Experienced with Operating Systems including: Unix, Windows, MacOS</p>
          <p class="card-text text-center">Skilled in programming languages including: Java, C/C++, SQLite3 or MySQL, and
            NodeJS</p>
        </div>
      </div>
      <div class="card-footer text-muted text-center"><a href="resume" class="card-link">Download Resume</a></div>
    </div>
  </div>
</div>